{% extends "base.html" %}
{% load static %}
{% block content %}


<header class="site-header">
    <div class="container">
        <img src="" alt="FutureGov" class="site-header__logo"/>
        <nav class="site-header__menu">
            <!-- Menu here -->
        </nav>
    </div>
</header>

<section class="hero hero--pink">
    <h1 class="hero__headline">Opportunities at FutureGov</h1>
    <a class="hero__button" href="#">Current opportunties</a>
</section>

<section class="text-columns text-columns--large">
    <div class="container text-columns__inner">
        <div class="text-columns__column">
            <h2 class="text-columns__headline">Our ethos</h2>
        </div>
        <div class="text-columns__column">
            <!-- Content here -->
        </div>
    </div>
</section>

<section class="benefits">
    <div class="container">
        <h2 class="text-columns__headline">Our ethos</h2>
        <div class="benefits__grid">
            <!-- x6 -->
            <div class="benefits__benefit">
                <h3 class="benefits__benefit-headline">Lasting impact</h3>
                <p class="benefits__benefit-content"></p>
            </div>
            <!-- x6 -->
        </div>
    </div>
</section>

<section class="current-vacancies">
    <div class="container current-vacancies__inner">
        <div class="current-vacancies__column">
            <h2 class="current-vacancies__headline">Current vacancies</h2>
        </div>
        <div class="current-vacancies__column">
            <ul class="vacancy-list">
                <!-- x4? -->
                <li class="vacancy-list__vacancy">
                    <a href="#" class="vacancy-list__link">
                        <h3 class="vacancy-list__headline">Job title</h3>
                    </a>
                    <p class="vacancy-list__meta"><strong>Design team</strong> Closes 1st September 2019</p>
                </li>
                <!-- x4? -->
            </ul>
        </div>
    </div>
</section>

<section class="testimonials">
    <div class="testimonials__testimonial testimonials__testimonial--purple">
        <div class="testimonials__image-holder"></div>
        <div class="testimonials__quote-holder">
            <blockquote class="testimonials__blockquote">
                <q class="testimonials__quote">Quote here</q>
                <caption>
                    <span class="testimonials__name"Jen</span>
                    <span class="testimonials__role">Project director</span>
                </caption>
            </blockquote>
        </div>
    </div>
    <div class="testimonials__testimonial testimonials__testimonial--reversed">
        <div class="testimonials__image-holder"></div>
        <div class="testimonials__quote-holder">
            <blockquote class="testimonials__blockquote">
                <q class="testimonials__quote">Quote here</q>
                <caption>
                    <span class="testimonials__name"Jen</span>
                    <span class="testimonials__role">Project director</span>
                </caption>
            </blockquote>
        </div>
    </div>
    <div class="testimonials__testimonial testimonials__testimonial--pink">
        <div class="testimonials__image-holder"></div>
        <div class="testimonials__quote-holder">
            <blockquote class="testimonials__blockquote">
                <q class="testimonials__quote">Quote here</q>
                <caption>
                    <span class="testimonials__name"Jen</span>
                    <span class="testimonials__role">Project director</span>
                </caption>
            </blockquote>
        </div>
    </div>
</section>

<section class="people-grid">
    <div class="container">
        <h2>Who will you meet first?</h2>
        <div class="people-grid__grid">
            <!-- x3 -->
            <div class="person">
                <img src="" alt="Rob" class="person__portrait"/>
                <h3 class="person__name">Rob</h3>
                <span class="person__role">Role</span>
                <p class="person__biography">Bio here</p>
            </div> 
            <!-- x3 -->
        </div>
    </div>
</section>

<section class="call-to-action call-to-action--large">
    <div>
        <h2 class="call-to-action__headline">Haven't found what you're looking for?</h2>
    </div>
    <div>
        <p>Content here</p>
        <a href="#">Apply now</a>
    </div>
</section>

<footer class="site-footer">
    <p>© FutureGov 2019  Registered Company No. 6472420</p>
</footer>


{% endblock content %}
