<section class="benefits">
    <div class="container benefits__inner">
        <div class="benefits__column">
            <h2 class="benefits__headline">{{ value.headline }}</h2>
        </div>

        <div class="benefits__column">
            <ul class="benefits__list" aria-live="polite">
                {% for benefit in value.benefits %}
                    <div class="benefits__benefit">
                        <button class="benefits__button">
                            <h3 class="benefits__benefit-crosshead">{{benefit.crosshead}}</h3>
                        </button>

                        <div class="benefits__benefit-content" hidden>{{benefit.content}}</div>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>