{% load wagtailimages_tags %}

<section class="testimonials">
    <h2 class="testimonials__headline">Meet FutureGov-ers</h2>
    <div class="testimonials__list">
        {% for testimonial in value.testimonials %}
            <div class="testimonials__testimonial">
                <div class="testimonials__testimonial-inner">
                    {% image testimonial.image fill-600x400 class="testimonials__image" %}
                    <div class="testimonials__quote-holder">
                        <blockquote class="testimonials__blockquote">
                            <q class="testimonials__quote">{{testimonial.quotation}}</q>
                            <caption>
                                <span class="testimonials__name">{{testimonial.attribution_name}}</span>
                                <span class="testimonials__role">{{testimonial.attribution_role}}</span>
                            </caption>
                        </blockquote>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</section>