<section class="text-columns">
    <div class="container text-columns__inner">
        <div class="text-columns__column">
            <h2 class="text-columns__headline {% if value.sticky_headline %}<p>text-columns__headline--sticky{% endif %}">
                {{ value.headline }}
            </h2>
            {% if value.left_content %}
                <p class="text-columns__left-content">{{ value.left_content }}</p>
            {% endif %}
        </div>
        <div class="text-columns__column text-columns__content {% if value.large_text %}text-columns__content--large{% endif %}">
            {{ value.content }}
        </div>
    </div>
</section>