<section class="vacancies" id="current-vacancies">
        <div class="container vacancies__inner">
            <div class="vacancies__column">
                <h2 class="vacancies__headline">Current vacancies</h2>
            </div>
            <div class="vacancies__column">
                {% if vacancies %}
                <ul class="vacancy-list">
                    {% for vacancy in vacancies %}
                        {% with vacancy=vacancy.specific %}
                            <li class="vacancy-list__vacancy">
                                <a href="{{ vacancy.url }}" class="vacancy-list__link">
                                    <h3 class="vacancy-list__headline">{{ vacancy.title }}</h3>
                                </a>
                                <p class="vacancy-list__meta"><strong>{{ vacancy.location }}</strong>{% if vacancy.closing_date %} Closes {{ vacancy.closing_date|date:"d F" }}{% endif %}</p>
                            </li>
                        {% endwith %}
                    {% endfor %}
                </ul>
                {% else %}
                <p class="vacancies__no-vacancies">We aren't recruiting for any specific roles right now. Please check back soon!</p>
                {% endif %}
            </div>
        </div>
    </section>