<section class="vacancies">
        <div class="container vacancies__inner">
            <div class="vacancies__column">
                <h2 class="vacancies__headline">Current vacancies</h2>
            </div>
            <div class="vacancies__column">
                <ul class="vacancy-list">
                    {% for vacancy in page.get_children %}
                        <li class="vacancy-list__vacancy">
                            <a href="{{ vacancy.url }}" class="vacancy-list__link">
                                <h3 class="vacancy-list__headline">{{ vacancy.title }}</h3>
                            </a>
                            <p class="vacancy-list__meta"><strong>Design team</strong> Closes 1st September 2019</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>