{% load static wagtailuserbar %}
{% load sass_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}

        <link rel="stylesheet" type="text/css" href="{% sass_src 'css/style.scss' %}">
        
        <link rel="stylesheet" href="https://use.typekit.net/wsk4rpc.css">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <header class="site-header">
            <div class="container">
                <img src="" alt="FutureGov" class="site-header__logo"/>
                <nav class="site-header__menu">
                    <!-- Menu here -->
                </nav>
            </div>
        </header>

        {% block content %}{% endblock %}

        <footer class="site-footer">
            <p>© FutureGov 2019  Registered Company No. 6472420</p>
        </footer>

        {# Global javascript #}
        <!-- <script type="text/javascript" src="{% static 'js/fgcareers.js' %}"></script> -->

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
