{% load static %}

<header class="site-header">
    <div class="site-header__inner container">
        <a href="https://www.wearefuturegov.com/" class="site-header__logo-link">
            <img src="{% static 'logo.svg' %}" alt="FutureGov" class="site-header__logo"/>
        </a>
        <nav class="site-header__menu">

            <!-- Menu here -->
            <ul class="nav-menu">

                <li class="nav-menu__item">
                    <a class="nav-menu__link" href="https://www.wearefuturegov.com/mission">Mission</a>
                </li>
                
                <li class="nav-menu__item">
                    <a class="nav-menu__link" href="https://www.wearefuturegov.com/work">Our work</a>
                </li>
                            
                <li class="nav-menu__item">
                    <a class="nav-menu__link" href="http://transitions.wearefuturegov.com">Transitions</a>
                </li>
                            
                <li class="nav-menu__item">
                    <a class="nav-menu__link" href="https://blog.wearefuturegov.com">Blog</a>
                </li>
                
                <li class="nav-menu__item">
                    <a class="nav-menu__link" href="https://www.wearefuturegov.com/careers">Careers</a>
                </li>
                
                <li class="nav-menu__item">
                    <a class="nav-menu__link" href="https://www.wearefuturegov.com/contact">Contact</a>
                </li>
                
            </ul>
        </nav>
    </div>
</header>
