{% load static %}

<header class="site-header">
    <div class="site-header__inner container">
        <a href="/" class="site-header__logo-link">
            <img src="{% static 'logo.svg' %}" alt="FutureGov" class="site-header__logo"/>
        </a>
        <nav class="site-header__menu">
            <!-- Menu here -->
            <ul class="nav-menu nav-menu--left">
                <li class="nav-menu__item">
                    <a class="nav-menu__link" href="/">About</a>
                </li>
                <li class="nav-menu__item">
                    <a class="nav-menu__link" href="/">Blog</a>
                </li>
                <li class="nav-menu__item">
                    <a class="nav-menu__link" href="/">Case studies</a>
                </li>
                <li class="nav-menu__item">
                    <a class="nav-menu__link" href="/">Events</a>
                </li>
            </ul>
            <ul class="nav-menu">
                <li class="nav-menu__item">
                    <a class="nav-menu__link" href="/">Patterns</a>
                </li>
                <li class="nav-menu__item">
                    <a class="nav-menu__link" href="/">Products</a>
                </li>
                <li class="nav-menu__item">
                    <a class="nav-menu__link" href="/">Careers</a>
                </li>
                <li class="nav-menu__item">
                    <a class="nav-menu__link" href="/">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>