{% load static %}

<header class="site-header">
    <div class="site-header__inner container">
        <a href="https://www.wearefuturegov.com/" class="site-header__logo-link">
            <img src="{% static 'logo.svg' %}" alt="FutureGov" class="site-header__logo"/>
        </a>
        <nav class="site-header__menu">
            <!-- Menu here -->
            <ul class="nav-menu nav-menu--left">
                <li class="nav-menu__item">
                    <a class="nav-menu__link" href="https://www.wearefuturegov.com/about">About</a>
                </li>
                <li class="nav-menu__item">
                    <a class="nav-menu__link" href="http://blog.wearefuturegov.com/">Blog</a>
                </li>
                <li class="nav-menu__item">
                    <a class="nav-menu__link" href="https://www.wearefuturegov.com/work">Case studies</a>
                </li>
                <li class="nav-menu__item">
                    <a class="nav-menu__link" href="https://www.wearefuturegov.com/events">Events</a>
                </li>
            </ul>
            <ul class="nav-menu">
                <li class="nav-menu__item">
                    <a class="nav-menu__link" href="https://patterns.wearefuturegov.com">Patterns</a>
                </li>
                <li class="nav-menu__item">
                    <a class="nav-menu__link" href="https://www.wearefuturegov.com/products">Products</a>
                </li>
                <li class="nav-menu__item">
                    <a class="nav-menu__link" href="/">Careers</a>
                </li>
                <li class="nav-menu__item">
                    <a class="nav-menu__link" href="https://www.wearefuturegov.com/contact">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>