$text: #170710;
$purple: #292242;
$pink: #e53094;
$grey: #504e4f;
$background: #f4f2f3;
$white: #ffffff;
$focus: #ffc603;

$sm: 600px;
$medium: 830px;
$large: 1500px;

*{
    font-family: proxima-nova, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, q, li{
    line-height: 1.4;
}

*:focus{
    outline: 4px solid $focus;
}

.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    width: 100%;
}

*::selection{
    background-color: transparentize($focus, 0.5)
}

@import "header";
@import "hero";
@import "text-columns";
@import "benefits";
@import "vacancies";
@import "testimonials";
@import "people-cards";
@import "call-to-action";
@import "footer";
@import "key-stats";
@import "vacancy-hero";
@import "case-studies";
@import "not-found";