.benefits{
    background: $purple;
    color: $white;
    padding: 50px 20px;
    position: relative;
    &:before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-image: url('../benefits_bg.jpg');
        background-attachment: fixed;
        opacity: 0.1;
    }
    @media screen and (min-width: 830px) {
        padding: 100px 10%;
    }
}

.benefits__inner{
    position: relative;
    z-index: 1;
    @media screen and (min-width: 830px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 40px;
    }
}

.benefits__headline{
    margin-bottom: 30px;
    font-size: 1.7em;
    @media screen and (min-width: 830px) {
        font-size: 2em;
    }
}

.benefits-list{
    list-style: none;
}


// .benefits__grid{
//     @media screen and (min-width: 830px) {
//         display: grid;
//         grid-template-columns: 1fr 1fr 1fr;
//         grid-column-gap: 40px;
//     }
//     @media screen and (min-width: 1200px) {
//         grid-column-gap: 60px;
//     }
// }

// .benefits__headline{
//     margin-bottom: 30px;
//     font-size: 2em;
//     position: relative;
//     z-index: 2;
//     @media screen and (min-width: 830px){
//         font-size: 3em;
//         max-width: calc(50% - 20px);
//         margin-bottom: 50px;
//     }
//     @media screen and (min-width: 1200px){
//         font-size: 3.5em;
//     }
// }

// .benefits__benefit{
//     margin-bottom: 35px;
//     position: relative;
//     z-index: 2;
// }

.benefits__benefit-crosshead{
    font-size: 1.4em;
    margin-bottom: 5px;
    @media screen and (min-width: 830px) {
        font-size: 1.7em;
        margin-bottom: 10px;
    }
}

.benefits__benefit-content{
    font-size: 1.1em;
    @media screen and (min-width: 830px) {
        font-size: 1.2em;
    }
}
