.benefits{
    background: $purple;
    color: $white;
    padding: 50px 20px;
    position: relative;
    &:before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-image: url('../benefits_bg.jpg');
        background-attachment: fixed;
        opacity: 0.1;
    }
    @media screen and (min-width: $medium) {
        padding: 100px 10%;
    }
    @media screen and (min-width: $large) {
        padding: 100px 15%;
    }
}

.benefits__inner{
    position: relative;
    z-index: 1;
    @media screen and (min-width: $medium) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 40px;
    }
    @media screen and (min-width: $large) {
        grid-column-gap: 70px;
    }
}

.benefits__headline{
    margin-bottom: 30px;
    font-size: 1.7em;
    @media screen and (min-width: $medium) {
        font-size: 2em;
    }
    @media screen and (min-width: $large) {
        font-size: 2.4em;
    }
}

.benefits-list{
    list-style: none;
}

.benefits__benefit{
    margin-bottom: 20px;
    @media screen and (min-width: $large) {
        margin-bottom: 30px;
    }
    &.benefits__benefit--open{
        .benefits__button{
            &:after{
                background-image: url("../minus.svg");
            }
        }
    }
}

.benefits__button{
    width: 100%;
    background: none;
    border: none;
    color: white;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1em;
    cursor: pointer;
    text-align: left;
    @media screen and (min-width: $large) {
        margin-bottom: 20px;
    }
    &:before{
        content: "";
        display: inline-block;
        height: 25px;
        width: 25px;
        flex-shrink: 0;
        margin-right: 20px;
        background-repeat: no-repeat;
        background-image: url("../tick.svg");
        background-size: contain;
        background-position: center;
    }
    &:after{
        margin-left: auto;
        content: "";
        display: inline-block;
        height: 18px;
        width: 18px;
        background-repeat: no-repeat;
        background-image: url("../plus.svg");
        background-size: contain;
        background-position: center;
    }
    &.benefits__button--open{
        pointer-events: none;
    }
}

.benefits__benefit-crosshead{
    font-size: 1.5em;
    margin-bottom: 0px;
    @media screen and (min-width: $medium) {
        font-size: 1.7em;
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.benefits__benefit-content{
    font-size: 1.1em;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 10px;
    margin-bottom: 30px;
    animation: fadeIn 0.5s ease-out;
    @media screen and (min-width: $medium) {
        font-size: 1.3em;
    }
}
