.call-to-action{
    background: $pink; 
    padding: 50px 20px;
    color: $white;   
    text-align: center;
    @media screen and (min-width: $medium) {
        padding: 100px 10%;
    }
    @media screen and (min-width: $large) {
        padding: 100px 15%;
    }
}

.call-to-action__inner{
    @media screen and (min-width: $medium) {
        text-align: left;
        display: grid;
        grid-template-columns: 3fr 4fr;
        grid-column-gap: 40px;
    }
    @media screen and (min-width: $large) {
        grid-column-gap: 70px;
    }
}


.call-to-action__headline{
    font-size: 2.2em;
    position: relative;
    margin-bottom: 20px;

    font-size: 2.2em;
    @media screen and (min-width: $medium){
        font-size: 3em;
    }
    @media screen and (min-width: $large) {
        max-width: 80%;
    }
}

.call-to-action .rich-text{
    font-size: 1.1em;
    @media screen and (min-width: $medium) {
        font-size: 1.2em;
    }

    margin-bottom: 25px;
}

.call-to-action__content--large{
    font-size: 1.2em;
    @media screen and (min-width: $medium) {
        font-size: 1.4em;
    }
}

.call-to-action__button{
    color: $pink;
    background: $white;
    border: 1px solid $white;
    display: inline-block;
    padding: 12px 45px;
    border-radius: 100px;
    text-decoration: none;
    z-index: 2;
    position: relative;
    font-weight: bold;
    font-size: 1.2em;
    &:hover{
        background: $pink;
        color: $white;
    }
    &:focus{
        outline: none;
        box-shadow: 0px 0px 0px 4px $focus;
    }
}