.not-found{
    padding: 50px 20px;
    color: $text;
    @media screen and (min-width: $sm) {
        padding: 50px 10%;
    }
    @media screen and (min-width: $medium) {
        padding: 100px 10%;
    }
    @media screen and (min-width: $large) {
        padding: 100px 15%;
    }
}

.not-found__headline{
    margin-bottom: 15px;
    font-size: 1.7em;
    @media screen and (min-width: $medium) {
        font-size: 2em;
        max-width: 85%;
    }
    @media screen and (min-width: $large) {
        font-size: 2.4em;
    }
}

.not-found__headline{
    margin-bottom: 10px;
}