.people-grid{
    background: $background;
    padding: 50px 20px;
    color: $text;
    text-align: center;
    @media screen and (min-width: $sm) {
        padding: 50px 10%;
    }
    @media screen and (min-width: $medium) {
        padding: 100px 10%;
    }
    @media screen and (min-width: $large) {
        padding: 100px 15%;
    }
}

.people-grid__headline{
    margin-bottom: 30px;
    @media screen and (min-width: $medium) {
        font-size: 2em;
    }
    @media screen and (min-width: $large) {
        font-size: 2.4em;
    }
}

.people-grid__grid{
    @media screen and (min-width: $medium) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 25px;
    }
    @media screen and (min-width: $large) {
        grid-column-gap: 50px;
    }
}

.person{
    background: $white;
    margin-bottom: 20px;
    padding: 25px;
    margin-top: 70px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    @media screen and (min-width: $large) {
        padding: 35px;
    }
}

.person__name{
    font-size: 1.5em;
    margin-bottom: 5px;
    @media screen and (min-width: $medium) {
        font-size: 1.7em;
    }
}

.person__role{
    font-size: 1.1em;
    display: block;
    color: $grey;
    margin-bottom: 20px;
}

.person__biography{
    font-size: 1.1em;
    @media screen and (min-width: $medium) {
        font-size: 1.2em;
    }
}

.person__portrait{
    margin-top: -70px;
    border-radius: 100%;
    margin-bottom: 25px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}