.testimonials{
    background: $purple;
    color: $white;
    padding: 50px 40px;
    position: relative;
    overflow: hidden;
    &:before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-image: url('../testimonials_bg.jpg');
        background-attachment: fixed;
        opacity: 0.1;
        filter: grayscale(1);
    }
    @media screen and (min-width: $sm) {
        padding: 50px 10%;
    }
    @media screen and (min-width: $medium) {
        padding: 100px 10%;
    }
    @media screen and (min-width: $large) {
        padding: 100px 20%;
    }

}

.testimonials__headline{
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    z-index: 1;
    @media screen and (min-width: $medium) {
        font-size: 2em;
    }
    @media screen and (min-width: $large) {
        font-size: 2.4em;
    }
}

.testimonials__testimonial{
    padding: 0px 10px;
    @media screen and (min-width: $medium) {
        padding: 0px 30px;
    }
}

.testimonials__testimonial-inner{
    overflow: hidden;
    height: 100%;
    background: white;
    display: block;
    box-shadow: 2px 0px 5px transparentize($purple, 0.8);
    @media screen and (min-width: $medium) {
        display: flex;
        flex-direction: row;
    }
}


.testimonials__image{
    height: auto;
    width: 100%;
    background: $pink;
    @media screen and (min-width: $medium) {
        width: 50%;
        object-fit: cover;
    }
}

.testimonials__quote-holder{
    color: $text;
    padding: 25px;
    flex: 1;
    @media screen and (min-width: $medium) {
        padding: 35px;
    }
    @media screen and (min-width: $large) {
        padding: 55px;
    }
}

.testimonials__quote{
    font-size: 1.1em;
    @media screen and (min-width: $medium) {
        font-size: 1.2em;
    }
    @media screen and (min-width: $large) {
        font-size: 1.3em;
    }
}

.testimonials__name{
    font-size: 1.5em;
    font-weight: bold;
    display: block;
    margin-top: 25px;
    @media screen and (min-width: $medium) {
        font-size: 1.7em;
    }
}
.testimonials__role{
    color: $grey;
    display: block;
    margin-top: 5px;
    font-size: 1.1em;
}


.slick-list{
    overflow: visible !important;
}

.slick-slide{
    &:focus{
        outline: none;
        .testimonials__testimonial-inner{
            outline: 3px solid $focus;
        }
    }
}

.slick-dots{
    bottom: -35px;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before{
    color: white;
    font-size: 15px;
}
