.text-columns{
    padding: 50px 20px;
    color: $text;
    @media screen and (min-width: 830px) {
        padding: 100px 10%;
    }
}

.text-columns__inner{
    @media screen and (min-width: 830px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 40px;
    }
    @media screen and (min-width: 1500px) {
        grid-column-gap: 70px;
    }
}

.text-columns__headline{
    margin-bottom: 15px;
    font-size: 1.7em;
    @media screen and (min-width: 830px) {
        font-size: 2em;
    }
    @media screen and (min-width: 1500px) {
        font-size: 2.4em;
    }
}


.text-columns__content{
    p, br{
        margin-bottom: 15px;
    }
    
}

.text-columns__content--large{
    font-size: 1.2em;
    @media screen and (min-width: 830px) {
        font-size: 1.4em;
    }
}